$main-one: #f15a2d;
$main-two: #005b9d;

$accent-yellow-one: #fce39c;
$accent-yellow-two: #fbd05d;
$accent-yellow-three: #f9bf1f;
$accent-yellow-four: #e0a606;

$accent-blue-one: #498bca;
$accent-blue-two: #2a77bd;
$accent-blue-three: #00477b;
$accent-blue-four: #003459;

$accent-orange-one: #f6946a;
$accent-orange-two: #f37443;
$accent-orange-three: #f04d1d;
$accent-orange-four: #ec4210;

$gray-one: #1a1a1a;
$gray-two: #333;
$gray-three: #4d4d4d;
$gray-four: #999;
$gray-five: #ccc;
$gray-six: #fafbfb;
